<p id="notice"><%= notice %></p>


<%= react_component("PostHeader",{}) %>

<% @posts.each do |post| %>
  <%= react_component("PostIndex",{
    title: post.title,
    body: post.body,
    published: post.published,
    factorial: post.factorial
  }) %>
<% end %>
   
</div>




